<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
    
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>需要蓝牙权限用于控制车辆设备</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>需要蓝牙权限用于连接智能设备</string>
    
    
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>carcontrol</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>carcontrol</string>
        </array>
      </dict>
    </array>

    
</dict>
</plist>
